body {
    background-color: #F0EAD6;
}

img {
    display: inline-block;
    margin: 25px;
    width: 90%;
}

h1 {
    color: #964B00;
    text-align: center;
}

nav {
    background-color: #483c32;
    padding: 2px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display:inline-block;
    margin-right: 10px;
}

nav li a {
    display: inline;
    background-color: white;
    width: 100%;
    height: 50px;
    padding: 15px;
    line-height: 50px;
    font-size:  1.4em;
    font-weight: bold;
    color: #964B00;
    text-decoration: none;
    border: 2px solid #964B00;
    border-radius: 35px;
    margin: 0 10px;
}

#main_page {
    display: flex;
}

.col {
    border: 2px solid #483c32;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    vertical-align: middle;
}

.notes {
    line-height: 50px;
    font-size: 1.4em;
    font-weight: bold;
    color: #964B00;
    vertical-align: middle;
    text-decoration: none;
    margin: 0 10px;
}

main {
    display: flex;
}

section, aside {
    border: 2px solid #483c32;
    margin: 20px;
    padding: 20px;
}

section {
    width: 50%;
}

aside {
    width: 50%;
    margin: 10px;
}

.img_resize {
    width: 80%
}

footer {
    background-color: #483c32;
    text-align: center;
    padding: 40px 0;
    color: #F0EAD6;
    font-weight: bold;
}
